doctype html
html
  head
    title Abhi's Dance Academy
    block scripts
    block style
  body
    nav#navbar 
      ul 
         div#logo 
           img(src="/static/img/logo.png")
           | ADA
         li #[a(href="/") Home]
         li #[a(href="/") About]
         li #[a(href="/") Services]
         li #[a(href="/contact") Contact us]
         li #[a(href="/") Our Sponsers]  

    block content
    footer#footer 
      | Copyright @ 2022  AbhiDanceAcademy.com | All rights reserved. 
